.header {
	width: 100%;
	background-color: var(--dark);
	color: var(--light);
	border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);

}

.menu {
	display: none;
}

.header>.container {

	display: flex;
	justify-content: space-between;
	position: relative;

}



.btn-menu {
	content: "";
	display: inline-flex;
	justify-content: center;

	padding: 0;
	background-color: transparent;
	border: none;

	padding-top: 25px;
	padding-bottom: 25px;
}

.menu-icon {
	fill: var(--light);
	width: 28px;
	height: 28px;
	padding: 7px 3.5px;
}

.btn-menu:active .menu-icon,
.btn-menu:hover .menu-icon {
	fill: var(--yellow);
}


.logo {
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}

.logo-link {
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo-title {
	margin-bottom: 3px;

	font-weight: 500;
	line-height: 1.57;
	letter-spacing: 0.18em;
	text-transform: uppercase;
	text-align: center;
}

.logo-subtitle {
	color: #d8d7d7;
	font-size: 6px;
	line-height: 1.33;
	text-transform: uppercase;
	text-align: center;
}

.social-list {
	display: none;
	/* display: flex; */
}

.social-list-item {}

.social-link {
	content: "";
	display: inline-flex;
	justify-content: center;

	padding: 0;
	background-color: transparent;

}

.social-icon {
	width: 24px;
	height: 24px;
}

.mobile-menu.is-open {
	border-top: 0.5px solid rgba(247, 247, 247, 0.2);
	background-color: var(--dark);
	height: 100vh;
}

.mobile-menu-wrapper {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 24px;
}

.mobile-menu .menu-list {
	display: flex;
	flex-direction: column;
	margin-top: 128px;
}

.mobile-menu .menu-item {
	margin: 0 auto;
	margin-bottom: 32px;
}

.mobile-menu .menu-link {
	color: var(--light);
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.05em;

	text-transform: uppercase;
}


.mobile-menu .social-list {
	display: flex;
	margin-bottom: auto;

}

.mobile-menu .social-list-item {
	margin-right: 14px;
}

.mobile-menu.social-link {
	content: "";
	display: inline-flex;
	justify-content: center;

	padding: 0;
	background-color: transparent;

}

.social-icon {
	width: 20px;
	height: 20px;
}