<section class="about-complex">
  <div class="container">
    <h2 class="title visually-hidden">About a complex</h2>

    <div class="about-hotel-list">
      <div class="about-hotel-item">
        <picture>
          <source
            srcset="
              ./img/mobile/main-page/main-about-complex-room-1x.jpg 1x,
              ./img/mobile/main-page/main-about-complex-room-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/main-about-complex-room-1x.jpg 1x,
              ./img/tablet/main-page/main-about-complex-room-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/desktop/main-page/main-about-complex-room-1x.jpg 1x,
              ./img/desktop/main-page/main-about-complex-room-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/main-page/main-about-complex-room-1x.jpg"
            alt="Complex hall"
          />
        </picture>
      </div>

      <div class="about-review">
        <div class="review-wprapper">
          <div class="about-review-image-inner">
            <img
              srcset="
                ./img/mobile/main-page/reviewer-maria-1x.jpg 1x,
                ./img/mobile/main-page/reviewer-maria-2x.jpg 2x
              "
              src="./img/mobile/main-page/reviewer-maria-1x.jpg"
              alt="reviwer's  avatar"
              class="about-review-image"
              width="41"
              height="41"
            />
          </div>

          <div class="about-review-caption-inner">
            <p class="reviewer-name">Maria</p>
            <p class="reviewer-action">
              give rating <span class="rate">4.5</span>
            </p>
          </div>
        </div>
      </div>

      <div class="about-hotel-item">
        <picture>
          <source
            srcset="
              ./img/mobile/main-page/main-about-complex-bathroom-1x.jpg 1x,
              ./img/mobile/main-page/main-about-complex-bathroom-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/main-about-complex-bathroom-1x.jpg 1x,
              ./img/tablet/main-page/main-about-complex-bathroom-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/desktop/main-page/main-about-complex-bathroom-1x.jpg 1x,
              ./img/desktop/main-page/main-about-complex-bathroom-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/main-page/main-about-complex-bathroom-1x.jpg"
            alt="Bathroom image"
          />
        </picture>
      </div>
    </div>

    <div class="about-complex-subtitle-text-wrapper">
      <h3 class="about-subtitle">restaurant-hotel complex</h3>

      <p class="about-subtitle-text">
        Indulge in a taste of luxury with every bite at Hotel Mimino. From the
        freshest seafood to the most succulent steaks, every dish is crafted
        with care to ensure that you enjoy a truly memorable dining experience.
      </p>
      <p class="about-subtitle-text">
        Treat yourself to a taste of the good life and come dine with us today!
      </p>
    </div>

    <div class="about-business-class-hotel-list">
      <div class="about-business-class-hotel-item">
        <picture class="img-one">
          <source
            srcset="
              ./img/mobile/main-page/main-restaurant-hall-1x.jpg 1x,
              ./img/mobile/main-page/main-restaurant-hall-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/main-restaurant-hall-1x.jpg 1x,
              ./img/tablet/main-page/main-restaurant-hall-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/desktop/main-page/main-restaurant-hall-1x.jpg 1x,
              ./img/desktop/main-page/main-restaurant-hall-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/main-page/main-restaurant-hall-1x.jpg"
            alt="Restaurant hall"
          />
        </picture>
      </div>

      <div class="about-review">
        <div class="review-wprapper">
          <div class="about-review-image-inner">
            <img
              srcset="
                ./img/mobile/main-page/reviewer-alexander-1x.jpg 1x,
                ./img/mobile/main-page/reviewer-alexander-2x.jpg 2x
              "
              src="./img/mobile/main-page/reviewer-alexander-1x.jpg"
              alt="reviwer's  avatar"
              class="about-review-image"
              width="41"
              height="41"
            />
          </div>
          <div class="about-review-caption-inner">
            <p class="reviewer-name">Alexander</p>
            <p class="reviewer-action">
              give rating <span class="rate">5.5</span>
            </p>
          </div>
        </div>
      </div>

      <div class="about-busines-class-hotel-subtitle-text-wrapper">
        <h3 class="about-subtitle">business class hotel</h3>

        <p class="about-subtitle-text">
          The Mimino hotel features spacious and stylish double luxury rooms
          with modern amenities for a comfortable stay.
        </p>
      </div>

      <div class="about-business-class-hotel-item">
        <picture>
          <source
            srcset="
              ./img/mobile/main-page/main-hotel-hall-1x.jpg 1x,
              ./img/mobile/main-page/main-hotel-hall-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/main-hotel-hall-1x.jpg 1x,
              ./img/tablet/main-page/main-hotel-hall-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/desktop/main-page/main-hotel-hall-1x.jpg 1x,
              ./img/desktop/main-page/main-hotel-hall-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <img
            src="./img/mobile/main-page/main-hotel-hall-1x.jpg"
            alt="Restaurant hall"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
