<section class="hero">
  <div class="container">
    <h1 class="hero-title">mimino</h1>
    <div class="hero-wrapper">
      <div class="hero-buttons">
        <button class="btn btn-light" type="button">book a room</button>
        <button class="btn btn-light" type="button">book a table</button>
      </div>

      <ul class="subtitle-list">
        <li class="subtitle-item">
          <p class="hero-subtitle">
            Whether you're in the mood for a hearty breakfast, a light lunch, or
            a <span class="ital">romantic dinner,</span> our menu has something
            for everyone.
          </p>
        </li>
        <li class="subtitle-item">
          <p class="hero-subtitle">
            At Hotel Mimino, <span class="ital">we believe</span> that great
            food should be available to everyone, no matter the time of day.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
